<h1>Artículos</h1>

<% @articulos.each do |art| %>
		<h2><%=link_to art.titulo, art %></h2>
		<p><small><%= art.created_at.strftime("%d-%m-%Y") %></small></p>
		<p><%= art.contenido.truncate_words(30) %></p>
<% end %>

<%= will_paginate @articulos %>
